# Configuration file

affixes {
    # The weight of affix trades in the wandering trader generic trade pool. [range: 1 ~ 2000, default: 15]
    I:"Affix Trade Weight"=15

    # A list of type overrides for the affix loot system.  Format is <itemname>|<type>.  Types are SWORD, RANGED, PICKAXE, SHOVEL, AXE, SHIELD [default: [minecraft:stick|SWORD]]
    S:"Equipment Type Overrides" <
        minecraft:stick|SWORD
     >

    # If mythic items are unbreakable. [default: true]
    B:"Mythic Unbreakable"=true

    # The 1/n chance that a naturally spawned mob will be granted an affix item. 0 to disable. [range: 0 ~ 500000, default: 125]
    I:"Random Affix Chance"=250

    # The item that will be used when attempting to place torches with the torch placer affix.  Must be a valid item that places a block on right click. [default: minecraft:torch]
    S:"Torch Placement Item"=minecraft:torch
}


bosses {
    S:"Blacklisted Potions" <
        forbidden_arcanus:spectral_vision
     >
    S:"Boss Filler Block"=minecraft:red_sandstone
    I:"Boss Rarity Offset"=475
    S:"Boss Spawner Mobs" <
        3@minecraft:zombie
        3@minecraft:skeleton
        2@minecraft:husk
        2@minecraft:stray
        1@minecraft:wither_skeleton
        1@minecraft:pillager
     >

    # If boss items are always cursed.  Enable this if you want bosses to be less overpowered by always giving them a negative effect. [default: false]
    B:"Curse Boss Items"=false
    S:"Fire Resistance"=1.0
    S:"Max Damage Bonus"=4.5
    S:"Max Health Multiplier"=8.0
    S:"Max Knockback Resist"=1.0
    I:"Max Regen Level"=2
    I:"Max Resistance Level"=3
    S:"Max Speed Multiplier"=1.4
    S:"Min Damage Bonus"=2.0
    S:"Min Health Multiplier"=4.0
    S:"Min Knockback Resist"=0.65
    I:"Min Regen Level"=0
    I:"Min Resistance Level"=0
    S:"Min Speed Multiplier"=1.1
    S:"Random Enchantment Chance"=0.45
    S:"Random Potion Chance"=0.65

    # The 1/n chance that a naturally spawned mob that can see the sky is transformed into a boss.  0 to disable. [range: 0 ~ 500000, default: 85]
    I:"Surface Boss Chance"=600

    # If a lightning bolt strikes when a surface boss spawn occurs. [default: true]
    B:"Surface Boss Lightning"=true

    # If non-natural entity spawns can trigger a boss to spawn. [default: false]
    B:"Unnatural Bosses"=false
    S:"Water Breathing"=1.0
}


"brutal spawners" {
    S:"Brutal Potion Effects" <
        minecraft:resistance@2
        minecraft:fire_resistance@1
        minecraft:regeneration@1
        minecraft:speed@2
        minecraft:water_breathing@1
        minecraft:strength@1
     >
    S:"Brutal Spawner Mobs" <
        3@minecraft:zombie
        3@minecraft:skeleton
        2@minecraft:husk
        2@minecraft:stray
        1@minecraft:spider
     >
}


frequencies {
    S:"Boss Chance"=0.07
    S:"Brutal Spawner Chance"=0.18
    S:"Swarm Spawner Chance"=0.2
}


frequency {
    # The number of generation attempts (per chunk) for boss dungeons. [range: 0 ~ 50000, default: 8]
    I:"Boss Dungeon"=8

    # The number of generation attempts (per chunk) for boss dungeon variant 2. [range: 0 ~ 50000, default: 8]
    I:"Boss Dungeon Variant 2"=8

    # The number of generation attempts (per chunk) for ore troves. [range: 0 ~ 50000, default: 8]
    I:"Ore Troves"=8

    # The number of generation attempts (per chunk) for rogue spawners. [range: 0 ~ 50000, default: 4]
    I:"Rogue Spawners"=4

    # The 1/n chance (per chunk) that a tome tower may attempt generation. 0 = disabled, lower = more chances. [range: 0 ~ 50000, default: 125]
    I:"Tome Tower"=125
}


general {
    # The biomes that the deadly module will not generate in. [default: [minecraft:warm_ocean], [minecraft:lukewarm_ocean], [minecraft:cold_ocean], [minecraft:frozen_ocean], [minecraft:deep_warm_ocean], [minecraft:deep_frozen_ocean], [minecraft:deep_lukewarm_ocean], [minecraft:deep_cold_ocean], [minecraft:ocean], [minecraft:deep_ocean]]
    S:"Generation Biome Blacklist" <
        minecraft:warm_ocean
        minecraft:lukewarm_ocean
        minecraft:cold_ocean
        minecraft:frozen_ocean
        minecraft:deep_warm_ocean
        minecraft:deep_frozen_ocean
        minecraft:deep_lukewarm_ocean
        minecraft:deep_cold_ocean
        minecraft:ocean
        minecraft:deep_ocean
     >

    # The dimensions that the deadly module will generate in. [default: [overworld]]
    S:"Generation Dimension Whitelist" <
        overworld
     >

    # The 1/n chance that a rogue spawner will generate with a CHEST_VALUABLE instead of it's default chest.  0 to disable. [range: 0 ~ 80000, default: 9]
    I:"Spawner Rare Loot Chance"=9
}


"random spawners" {
    I:"alexsmobs:bone_serpent"=1
    I:"alexsmobs:bone_serpent_part"=1
    I:"alexsmobs:crimson_mosquito"=1
    I:"alexsmobs:dropbear"=1
    I:"alexsmobs:guster"=1
    I:"alexsmobs:mimicube"=1
    I:"alexsmobs:soul_vulture"=1
    I:"alexsmobs:straddler"=1
    I:"alexsmobs:void_worm"=1
    I:"alexsmobs:void_worm_part"=1
    I:"alexsmobs:warped_mosco"=1
    I:"ars_nouveau:wilden_boss"=1
    I:"ars_nouveau:wilden_guardian"=1
    I:"ars_nouveau:wilden_hunter"=1
    I:"ars_nouveau:wilden_stalker"=1
    I:"atum:assassin"=1
    I:"atum:bandit_warlord"=1
    I:"atum:barbarian"=1
    I:"atum:bonestorm"=1
    I:"atum:brigand"=1
    I:"atum:forsaken"=1
    I:"atum:mummy"=1
    I:"atum:nomad"=1
    I:"atum:pharaoh"=1
    I:"atum:scarab"=1
    I:"atum:sergeant"=1
    I:"atum:stoneguard"=1
    I:"atum:stonewarden"=1
    I:"atum:tarantula"=1
    I:"atum:wraith"=1
    I:"avaritia:black_hole"=1
    I:"betterendforge:end_slime"=1
    I:"betterendforge:shadow_walker"=1
    I:"betternether:jungle_skeleton"=1
    I:"betternether:naga"=1
    I:"betternether:skull"=1
    I:"botania:doppleganger"=1
    I:"cataclysm:ender_golem"=1
    I:"cataclysm:ender_guardian"=1
    I:"cataclysm:endermaptera"=1
    I:"cataclysm:ignis"=1
    I:"cataclysm:nameless_sorcerer"=1
    I:"cataclysm:netherite_monstrosity"=1
    I:"conjurer_illager:conjurer"=1
    I:"desolation:blackened"=1
    I:"eidolon:necromancer"=1
    I:"eidolon:wraith"=1
    I:"eidolon:zombie_brute"=1
    I:"hexblades:fire_elemental"=1
    I:"ice_ice_baby:iceologer"=1
    I:"iceandfire:troll"=1
    I:"illagers_plus:archer"=1
    I:"illagers_plus:berserker"=1
    I:"illagers_plus:black_iron_golem"=1
    I:"illagers_plus:enchanter"=1
    I:"illagers_plus:frostmancer"=1
    I:"illagers_plus:furantur"=1
    I:"illagers_plus:hoarder"=1
    I:"illagers_plus:illager_general"=1
    I:"illagers_plus:illager_king"=1
    I:"illagers_plus:miner"=1
    I:"illagers_plus:necromancer"=1
    I:"mana-and-artifice:demon_imp"=1
    I:"mana-and-artifice:hulking_zombie"=1
    I:"mana-and-artifice:lantern_wraith"=1
    I:"mana-and-artifice:mushroom_soldier"=1
    I:"mana-and-artifice:pixie"=1
    I:"mana-and-artifice:skeleton_assassin"=1
    I:"mana-and-artifice:spell_breaker"=1
    I:"mana-and-artifice:witch_hunter"=1
    I:"minecraft:blaze"=8
    I:"minecraft:cave_spider"=8
    I:"minecraft:creeper"=8
    I:"minecraft:drowned"=8
    I:"minecraft:elder_guardian"=8
    I:"minecraft:ender_dragon"=8
    I:"minecraft:enderman"=8
    I:"minecraft:endermite"=8
    I:"minecraft:evoker"=8
    I:"minecraft:ghast"=8
    I:"minecraft:giant"=8
    I:"minecraft:guardian"=8
    I:"minecraft:hoglin"=8
    I:"minecraft:husk"=8
    I:"minecraft:illusioner"=8
    I:"minecraft:magma_cube"=8
    I:"minecraft:phantom"=8
    I:"minecraft:piglin"=8
    I:"minecraft:piglin_brute"=8
    I:"minecraft:pillager"=8
    I:"minecraft:ravager"=8
    I:"minecraft:shulker"=8
    I:"minecraft:silverfish"=8
    I:"minecraft:skeleton"=8
    I:"minecraft:slime"=8
    I:"minecraft:spider"=8
    I:"minecraft:stray"=8
    I:"minecraft:vex"=8
    I:"minecraft:vindicator"=8
    I:"minecraft:witch"=8
    I:"minecraft:wither"=8
    I:"minecraft:wither_skeleton"=8
    I:"minecraft:zoglin"=8
    I:"minecraft:zombie"=8
    I:"minecraft:zombie_villager"=8
    I:"minecraft:zombified_piglin"=8
    I:"mowziesmobs:baby_foliaath"=1
    I:"mowziesmobs:barako"=1
    I:"mowziesmobs:barakoa_sunblocker"=1
    I:"mowziesmobs:barakoa_sunblocker_player"=1
    I:"mowziesmobs:barakoan_barakoana"=1
    I:"mowziesmobs:barakoan_player"=1
    I:"mowziesmobs:barakoana"=1
    I:"mowziesmobs:barakoaya"=1
    I:"mowziesmobs:ferrous_wroughtnaut"=1
    I:"mowziesmobs:foliaath"=1
    I:"mowziesmobs:frostmaw"=1
    I:"mowziesmobs:grottol"=1
    I:"mowziesmobs:naga"=1
    I:"mysticalworld:endermini"=1
    I:"occultism:possessed_enderman"=1
    I:"occultism:possessed_endermite"=1
    I:"occultism:possessed_ghast"=1
    I:"occultism:possessed_skeleton"=1
    I:"occultism:wild_hunt_skeleton"=1
    I:"occultism:wild_hunt_wither_skeleton"=1
    I:"outer_end:chorus_squid"=1
    I:"outer_end:entombed"=1
    I:"outer_end:himmelite"=1
    I:"outer_end:purpur_golem"=1
    I:"outer_end:stalker"=1
    I:"savageandravage:executioner"=1
    I:"savageandravage:griefer"=1
    I:"savageandravage:iceologer"=1
    I:"savageandravage:skeleton_villager"=1
    I:"savageandravage:trickster"=1
    I:"tconstruct:earth_slime"=1
    I:"tconstruct:ender_slime"=1
    I:"tconstruct:sky_slime"=1
    I:"tconstruct:terracube"=1
    I:"twilightforest:adherent"=1
    I:"twilightforest:armored_giant"=1
    I:"twilightforest:blockchain_goblin"=1
    I:"twilightforest:death_tome"=1
    I:"twilightforest:fire_beetle"=1
    I:"twilightforest:giant_miner"=1
    I:"twilightforest:goblin_knight_lower"=1
    I:"twilightforest:goblin_knight_upper"=1
    I:"twilightforest:harbinger_cube"=1
    I:"twilightforest:hedge_spider"=1
    I:"twilightforest:helmet_crab"=1
    I:"twilightforest:hostile_wolf"=1
    I:"twilightforest:hydra"=1
    I:"twilightforest:ice_crystal"=1
    I:"twilightforest:king_spider"=1
    I:"twilightforest:knight_phantom"=1
    I:"twilightforest:kobold"=1
    I:"twilightforest:lich"=1
    I:"twilightforest:lich_minion"=1
    I:"twilightforest:loyal_zombie"=1
    I:"twilightforest:maze_slime"=1
    I:"twilightforest:mini_ghast"=1
    I:"twilightforest:minoshroom"=1
    I:"twilightforest:minotaur"=1
    I:"twilightforest:mist_wolf"=1
    I:"twilightforest:mosquito_swarm"=1
    I:"twilightforest:naga"=1
    I:"twilightforest:pinch_beetle"=1
    I:"twilightforest:plateau_boss"=1
    I:"twilightforest:redcap"=1
    I:"twilightforest:redcap_sapper"=1
    I:"twilightforest:rising_zombie"=1
    I:"twilightforest:roving_cube"=1
    I:"twilightforest:skeleton_druid"=1
    I:"twilightforest:slime_beetle"=1
    I:"twilightforest:snow_guardian"=1
    I:"twilightforest:snow_queen"=1
    I:"twilightforest:stable_ice_core"=1
    I:"twilightforest:swarm_spider"=1
    I:"twilightforest:tower_broodling"=1
    I:"twilightforest:tower_ghast"=1
    I:"twilightforest:tower_golem"=1
    I:"twilightforest:tower_termite"=1
    I:"twilightforest:troll"=1
    I:"twilightforest:unstable_ice_core"=1
    I:"twilightforest:ur_ghast"=1
    I:"twilightforest:winter_wolf"=1
    I:"twilightforest:wraith"=1
    I:"twilightforest:yeti"=1
    I:"twilightforest:yeti_alpha"=1
    I:"valhelsia_structures:mossy_skeleton"=1
}


rarity {
    # The threshold for this rarity.  The percentage chance of this rarity appearing is equal to (previous threshold - this threshold) / 10. [range: 0 ~ 1000, default: 400]
    I:common=400

    # The threshold for this rarity.  The percentage chance of this rarity appearing is equal to (previous threshold - this threshold) / 10. [range: 0 ~ 1000, default: 950]
    I:epic=950

    # The threshold for this rarity.  The percentage chance of this rarity appearing is equal to (previous threshold - this threshold) / 10. [range: 0 ~ 1000, default: 1000]
    I:mythic=1000

    # The threshold for this rarity.  The percentage chance of this rarity appearing is equal to (previous threshold - this threshold) / 10. [range: 0 ~ 1000, default: 880]
    I:rare=880

    # The threshold for this rarity.  The percentage chance of this rarity appearing is equal to (previous threshold - this threshold) / 10. [range: 0 ~ 1000, default: 700]
    I:uncommon=700
}


"spawner stats: brutal spawners" {
    I:"Max Delay"=400
    I:"Max Nearby Entities"=6
    I:"Min Delay"=200
    I:"Player Range"=16
    I:"Spawn Count"=6
    I:"Spawn Delay"=20
    I:"Spawn Range"=4
}


"spawner stats: swarm spawners" {
    I:"Max Delay"=300
    I:"Max Nearby Entities"=32
    I:"Min Delay"=75
    I:"Player Range"=8
    I:"Spawn Count"=8
    I:"Spawn Delay"=20
    I:"Spawn Range"=6
}


"swarm spawners" {
    S:"Swarm Spawner Mobs" <
        4@minecraft:zombie
        2@minecraft:skeleton
        5@minecraft:spider
        8@minecraft:cave_spider
        1@minecraft:creeper
     >
}


wanderer {
    # If the wandering trader may sell affix loot items as a rare trade. [default: true]
    B:"Affix Trades"=true
}


